.app-wrapper {
display: grid;
max-width: 1200px;
margin: 0 auto;

grid-template-areas: 
"header header"
"nav content";

grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr;
grid-gap: 10px;
}
.header {
  grid-area: header;
  background-color: #a67070;
}
.header img {
  width: 50px;
}
.nav{
  grid-area: nav;
  background-color: #a67070;
}
.content {
  grid-area: content;
}
.fon {
  width: 1000px;
}